<nav class="menu">
    <div class="menu__logo">
        <h2>Intercase Cart</h2>
    </div>
    <div class="menu__cart">
        <a href="/catalog"><img src="assets/img/catalog.png" alt="Catálogo de Produtos" class="catalog__icon"></a>
        <a href="/cart"><img src="assets/img/shopping-cart.png" alt="Carrinho de Compras" class="cart__icon"></a>
    </div>
</nav>
<router-outlet></router-outlet>
