.menu {
    align-items: center;
    background-color:  #8e44ad;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-height: 70px;
    width: 100%;
    .menu__logo {
        color: #fff;
        flex-basis: 50%;
        text-align: center;
    }

    .menu__cart {
      flex-basis: 50%;

      .cart__icon, .catalog__icon {
        cursor: pointer;
        display: inline-block;
        float:left;
        margin-left: 1em;
        margin-right: 1em;
        height: auto;
      }

      .cart_quantity {
        background-color: #e74c3c;
        border-radius: 100%;
        bottom: -8px;
        color: #fff;
        font-weight: 700;
        padding: 7px;
        position: relative;
        width: 100px;
        height: 100px;
      }
    }
}