.menu {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8e44ad;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-height: 70px;
  width: 100%; }
  .menu .menu__logo {
    color: #fff;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    text-align: center; }
  .menu .menu__cart {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
    .menu .menu__cart .cart__icon, .menu .menu__cart .catalog__icon {
      cursor: pointer;
      display: inline-block;
      float: left;
      margin-left: 1em;
      margin-right: 1em;
      height: auto; }
    .menu .menu__cart .cart_quantity {
      background-color: #e74c3c;
      border-radius: 100%;
      bottom: -8px;
      color: #fff;
      font-weight: 700;
      padding: 7px;
      position: relative;
      width: 100px;
      height: 100px; }
