.error {
    background-color: #e74c3c;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 1em;
    padding: .375em;
    text-align: center;
}
.catalog {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem; 
    .alert__product {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: #fff;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        margin-top:.375em;
        margin-bottom:.375em;
        opacity: 0;
        visibility: hidden;
        padding: .150em;
        position: fixed;
        right: 1.32rem;
        text-align: center;
        transition: opacity .25s ease-in-out;
        max-width: 350px;
    }
    .alert__product--added {
        background-color: #2980b9;
    }
    .alert__product--removed {
        background-color: #e74c3c;
    }
    .catalog__product {
        border: 1px solid #c0c0c0;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        height:auto;
        margin-left: auto;
        margin-right: auto;
        margin-top:.375em;
        margin-bottom:.375em;
        padding: .5em;
        max-width: 270px;
        .product__image {
            display: block;
            height: 126px;
            margin-left: auto;
            margin-right: auto;
            margin-top: .7em;
            margin-bottom: .7em;
            width: auto;
        }
        .product__name {
            font-size: 14px;
            font-weight: normal;
            line-height: 17px;
            width: 100%;
            white-space: normal;
            color: #666;
            text-transform: none;
        }
        .product__price {
            color: #333;
            display: inline-block;
            height: 25px;
            font-size: 20px;
            font-weight: 900;
            float:left;
            line-height: 17px;
            text-align: left;
            vertical-align: bottom;
            width: 50%;
        }
        .product__quantity {
            color:#2980b9;
            display: inline-block;
            height: 25px;
            font-weight: 600;
            float:left;
            line-height: 25px;
            text-align: right;
            vertical-align: bottom;
            width: 50%;
        }
        .product__add {
            background-color: #27ae60;
            border: 0;
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 14px;
            font-weight: 600;
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
            text-transform: uppercase;
            width: 100%;
        }
        .product__add:focus,.product__add:hover {
            background-color: darken(#27ae60, 15%);
        }
    }
}

@media (min-width: 768px){
 .catalog {
     flex-flow: row wrap;
     justify-content: flex-start;
     .catalog__product {
        margin-left:.5em;
        margin-right: .5em;
     }
 }
} 