.error {
  background-color: #e74c3c;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 1em;
  padding: .375em;
  text-align: center; }

.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 1rem; }
  .catalog .alert__product {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fff;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: .375em;
    margin-bottom: .375em;
    opacity: 0;
    visibility: hidden;
    padding: .150em;
    position: fixed;
    right: 1.32rem;
    text-align: center;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    max-width: 350px; }
  .catalog .alert__product--added {
    background-color: #2980b9; }
  .catalog .alert__product--removed {
    background-color: #e74c3c; }
  .catalog .catalog__product {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: .375em;
    margin-bottom: .375em;
    padding: .5em;
    max-width: 270px; }
    .catalog .catalog__product .product__image {
      display: block;
      height: 126px;
      margin-left: auto;
      margin-right: auto;
      margin-top: .7em;
      margin-bottom: .7em;
      width: auto; }
    .catalog .catalog__product .product__name {
      font-size: 14px;
      font-weight: normal;
      line-height: 17px;
      width: 100%;
      white-space: normal;
      color: #666;
      text-transform: none; }
    .catalog .catalog__product .product__price {
      color: #333;
      display: inline-block;
      height: 25px;
      font-size: 20px;
      font-weight: 900;
      float: left;
      line-height: 17px;
      text-align: left;
      vertical-align: bottom;
      width: 50%; }
    .catalog .catalog__product .product__quantity {
      color: #2980b9;
      display: inline-block;
      height: 25px;
      font-weight: 600;
      float: left;
      line-height: 25px;
      text-align: right;
      vertical-align: bottom;
      width: 50%; }
    .catalog .catalog__product .product__add {
      background-color: #27ae60;
      border: 0;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
      text-transform: uppercase;
      width: 100%; }
    .catalog .catalog__product .product__add:focus, .catalog .catalog__product .product__add:hover {
      background-color: #19703e; }

@media (min-width: 768px) {
  .catalog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .catalog .catalog__product {
      margin-left: .5em;
      margin-right: .5em; } }
