<div *ngIf="erro" class="error"><p>Encontramos um problema, tente novamente.</p></div>
<section class="catalog">
  <div id="alert__product--added" class="alert__product alert__product--added">
    <p>Produto adicionado ao carrinho!</p>
  </div>
  <div id="alert__product--removed" class="alert__product alert__product--removed">
    <p>Não possui estoque!</p>
  </div>
  <div *ngFor="let product of products" class="catalog__product">
    <img [src]="product.image" alt="" class="product__image">
    <p class="product__name">{{product.name}}</p>
    <p class="product__price">R$ {{product.price}}</p>
    <p class="product__quantity">Disponível: {{product.quantity}}</p>
    <button class="product__add" type="button" (click)="addToCart(product)">Adicionar ao Carrinho</button>
  </div>
</section>


