.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 1rem; }
  .catalog .catalog__empty {
    color: #c0c0c0;
    height: auto;
    width: 100%; }
    .catalog .catalog__empty .catalog__empty__title {
      text-align: center; }
  .catalog .catalog__product {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: .375em;
    margin-bottom: .375em;
    padding: .5em;
    max-width: 270px; }
    .catalog .catalog__product .product__image {
      display: block;
      height: 126px;
      margin-left: auto;
      margin-right: auto;
      margin-top: .7em;
      margin-bottom: .7em;
      width: auto; }
    .catalog .catalog__product .product__name {
      font-size: 14px;
      font-weight: normal;
      line-height: 17px;
      width: 100%;
      white-space: normal;
      color: #666;
      text-transform: none; }
    .catalog .catalog__product .product__price {
      color: #333;
      display: inline-block;
      height: 25px;
      font-size: 20px;
      font-weight: 900;
      float: left;
      line-height: 17px;
      text-align: left;
      vertical-align: bottom;
      width: 50%; }
    .catalog .catalog__product .product__quantity {
      color: #2980b9;
      display: inline-block;
      height: 25px;
      font-weight: 600;
      float: left;
      line-height: 25px;
      text-align: right;
      vertical-align: bottom;
      width: 50%; }
    .catalog .catalog__product .product__subtotal {
      color: #34495e;
      display: block;
      height: 25px;
      font-size: 20px;
      font-weight: 700;
      float: left;
      line-height: 17px;
      margin: 0;
      margin-bottom: 5px;
      text-align: center;
      vertical-align: bottom;
      width: 100%; }
    .catalog .catalog__product .product__add {
      background-color: #27ae60;
      border: 0;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      float: left;
      padding: 1em;
      text-transform: uppercase;
      width: 49%; }
    .catalog .catalog__product .product__remove {
      background-color: #e74c3c;
      border: 0;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: bolder;
      float: right;
      padding: 1em;
      text-transform: uppercase;
      width: 49%; }
    .catalog .catalog__product .product__add:focus, .catalog .catalog__product .product__add:hover {
      background-color: #19703e; }

.product__total {
  color: #95a5a6;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .catalog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .catalog .catalog__product {
      margin-left: .5em;
      margin-right: .5em; } }
