<section class="catalog">
  <div class="catalog__empty" *ngIf="cart.length == 0">
    <h1 class="catalog__empty__title">Seu carrinho está vazio!</h1>
  </div>
  <div *ngFor="let product of cart" class="catalog__product">
    <img [src]="product.image" alt="" class="product__image">
    <p class="product__name">{{product.name}}</p>
    <p class="product__price">R$ {{product.price}}</p>
    <p class="product__quantity">Quantidade: {{product.quantity}}</p>
    <p class="product__subtotal">Subtotal: R$ {{product.price * product.quantity}}</p>
    <button class="product__add" type="button" (click)="addToCart(product)">Adicionar</button>
    <button class="product__remove" type="button" (click)="removeFromCart(product)">Remover</button>
  </div>
</section>
<h2 class="product__total" *ngIf="cart.length > 0">Total: R$ {{totalQuantity}}</h2>
